footer {
    grid-area: "footer";
    display: grid;
    grid-template-rows: 3fr 1fr;
}

#formulario {
    grid-row: 1;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#form_img {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

#laptop {
    width: 90%;
}

#form {
    display: flex;
}

#form_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#contacto_color {
    color: black;
}

#name,
#email,
textarea {
    padding: 3px 0;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#btn_enviar {
    margin-left: 39%;
    margin-top: 30px;
    background: #5227cc;
    border-radius: 10020px;
    border: none;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
}

footer {
    background: linear-gradient(135deg, rgba(82, 152, 255, 1) 0%, rgba(82, 39, 204, 1) 50%);
}

#footer {
    grid-row: 2;
    color: white;
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    margin: 7px 0 35px;
    border: 1px solid white;
    border-right-width: 0px;
    border-left-width: 0px;
}

#logo_blanco {
    grid-column: 1;
    grid-row: 1;
    width: 35%;
    margin-top: 30px;
    margin-left: 140px;
}

#lista {
    grid-column: 2;
    grid-row: 1;
    list-style: none;
}

.link_footer {
    color: white;
    text-decoration: none;
}

.link_footer:hover {
    text-decoration: underline;
}

#redes {
    grid-column: 3;
    grid-row: 1;
}



@media (max-width: 414px){
    #form{
        display: block;
    }
    #formulario {
        grid-row: 1;
        background-color: whitesmoke;
        width: 100%;
        height: 100%;
    }

    #formulario{
        display: block;
    }
    #form_img{
        display: none;
    }
    #name, #email, textarea{
        margin-right: 0px;
    }
    
    #logo_blanco {
        margin-top: 60px;
        margin-left: 20px;
    }
}

@media (max-width: 749px) and (min-width: 415px){
    #formulario{
        display: block;
    }
    #form_img{
        display: none;
    }
    #name, #email, textarea{
        margin-right: 0px;
    }
    
    #logo_blanco {
        margin-top: 60px;
        margin-left: 20px;
    }
}